body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  border: 10px solid #75d668;
  border-radius: 6px;
  background-color: #aaf7f7;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.book-image-container img {
  height: 300px;
  width: 260px;
}

.book {
    display: inline-block;
    vertical-align: top;
    height: 300px;
    width: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 3px;
}

.seller{
  display: inline-block;
  /*float:left*/
  margin-left:100px;
  border: 1px solid #dadada;
  padding:10px;
}

.book-contents {
  display: flex;
  flex-direction: row;
  align-items: top;
  height: 100%;
  width: 100%;
}

.book-info-container {
  text-align: left;
  max-width: 100%;
  margin-top: 20px;
}

.book-price {
  display: flex;
  font-size: 150%;
  font-color: Red;
  padding: 3px;
  margin: 3px 5px;
  border-radius: 3px;
}

.navbar {
  margin-left: 50px;

}

.navbarList {

}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#register-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  /* display: none; */
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.account-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.account-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.account-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.account-fieldset {
  flex: 1 100%;
  border: 1px solid #ababab;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
}

#modal-cancel {
  color: #333;
  background-color: #fff;
}

#modal-cancel:hover {
  background-color: #eee;
}
